.footer {
  background-color:#fff;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #e0e0e0;
  color: #333;
  position: relative;
  z-index: 20;
}

.footer-column {
  flex: 1 1 200px;
  margin: 1rem;
}

.footer-column h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #222;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 0.5rem;
}

.footer-column a {
  text-decoration: none;
  color: #666;
  transition: all 0.3s ease;
  cursor: pointer;
}

.footer-column a:hover {
  color: #000;
  text-decoration: underline;
}



.footer-bottom {
  width: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
  font-size: 0.9rem;
    color: #888;
    margin-top: 2rem;
}

.social-icons{
    /* display: flex;
    gap: 15px; */
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.social-icons li{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.social-icons a {
    display: flex;
    align-items: center;
    color: #666;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    color: #a855f7;
    transform: scale(1.2);
}

.icon{
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.icon:hover{
    transform: scale(1.2);
}

.icon.instagram {
    color: #E1306c;
}

.icon.facebook {
    color: #4267B2;
}

.icon.youtube {
    color: #FF0000;
}

/* Responsive */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-column {
    margin: 1rem 0;
  }
}